<style>
.thumbnail img {
    max-height: 90px;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>画像一覧</h2>
        </div>

        <div class="col-md-12" style="margin-top:20px; margin-bottom:20px;">
        <% @products.each do |product| %>
            <div class="col-md-2">
                <a href="#" class="thumbnail" data-toggle="modal" data-target="#myModal" data-url="<%= product.image %>" data-id="<%= product.id %>">
                    <img src="<%= product.image.thumb %>">
                </a>
            </div>
        <% end %>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="text-align:center;">
                <img id="myModalImage" width="80%"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="myModalDelete">Delete image</button>
            </div>
        </div>
    </div>
</div>
<script>
$('#myModal').on('show.bs.modal',function(e){
    thumbnail = e.relatedTarget;
    $("#myModalImage").attr("src",thumbnail.dataset.url);

    $("#myModalDelete").click(function(){
        location.href = "/products/" + thumbnail.dataset.id;
        return false;
    });
})
</script>
