<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>画像登録</h2>
        </div>
        <div class="col-md-12" style="margin-bottom:20px;">
            <div id="drag-area">
                <p>アップロードしたいファイルを、ここにドロップ＆ドロップ</p>
                <div class="btn-group">
                    <input type="file" multiple>
                    <button id="btn">ファイルを選択</button>
                </div>
            </div>
            <output id="list"></output>
        </div>
    </div>
</div>
<script>
 $(function(){
     /*================================================
        ファイルをドロップした時の処理
     =================================================*/
     $('#drag-area').bind('drop', function(e){
         e.preventDefault(); // デフォルトの挙動を停止

         var files = e.originalEvent.dataTransfer.files;
         handleFileSelect(files);

     }).bind('dragenter', function(){
         return false; // デフォルトの挙動を停止
     }).bind('dragover', function(){
         return false; // デフォルトの挙動を停止
     });

     /*================================================
        ダミーボタンを押した時の処理
     =================================================*/
     $('#btn').click(function() {
         $('input[type="file"]').click(); // ダミーボタンとinput[type="file"]を連動
     });

     $('input[type="file"]').change(function(e){
         var files = e.target.files;
         handleFileSelect(files);
     });
 });

 function handleFileSelect(files) {

     for (var i = 0, f; f = files[i]; i++) {

         if (!f.type.match('image.*')) { continue; }

         var reader = new FileReader();
         reader.onload = (function(theFile) {
             return function(e) {
                 // Render thumbnail.
                 var span = document.createElement('span');
                 span.innerHTML = ['<img class="thumb" src="', e.target.result,
                                   '" title="', escape(theFile.name), '"/>'].join('');
                 document.getElementById('list').insertBefore(span, null);
             };
         })(f);

         // Read in the image file as a data URL.
         reader.readAsDataURL(f);
     }

     uploadFiles(files);
 }

 function uploadFiles(files) {
     var fd = new FormData();
     var filesLength = files.length;

     // ファイル情報を追加
     for (var i = 0; i < filesLength; i++) {
         fd.append("files[]", files[i]);
     }

     $.ajax({
         url: '/products',
         type: 'POST',
         data: fd,
         dataType: "html",
         processData: false,
         contentType: false,
         success: function(data) {
             console.log('ファイルがアップロードされました。');
         },
         error:function() {
             console.log('error');
         }
     });
 }
</script>
